{% extends "layout.html" %} {% block content %} <br /><br />
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome do episodio</th>
      <th scope="col">Data de lançamento</th>
      <th scope="col">Código</th>
      <th scope="col">Lista de personagens</th>
      <th scope="col">Ver perfil</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ episode.id }}</th>
      <td>{{ episode.name }}</td>
      <td>{{ episode.air_date }}</td>
      <td>{{ episode.episode }}</td>
      <td>
        <ul>
          {% for character_name in characters_names %}
          <li>{{ character_name }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        <ul class="links">
          {% for character_id in list_ids_characters %}
          <li>
            <a href="/profile/{{character_id}}">Ver perfil do personagem</a>
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}