{% extends "layout.html"%} {% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome do episodio</th>
      <th scope="col">Data de lançamento</th>
      <th scope="col">Código</th>
      <th scope="col">Personagens no episodio</th>
    </tr>
  </thead>
  <tbody>
    {% for episode in episodes %}
    <tr>
      <th scope="row">{{episode.id}}</th>
      <td>"{{episode.name}}"</td>
      <td>"{{episode.air_date}}"</td>
      <td>"{{episode.episode}}"</td>
      <td>
        <a href="/episode/{{episode.id}}" class="btn btn-primary"
          >Ver perfil</a
        >
      </td>
    </tr>
    {% endfor%}
  </tbody>
</table>
{% endblock %}