{% extends "layout.html"%} {% block content %} <br /><br />

<h3 class="title_perfil_location">Nome:"{{location.name}}"</h3>
<p>Tipo:"{{location.type}}"</p>
<p>Dimensão:"{{location.dimension}}"</p>
<h3 class="title_perfil_location">Lista de Personagens que vivem em {{location.name}}</h3>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Nome do Personagem</th>
      <th>Perfil do Personagem</th>
    </tr>
  </thead>
  <tbody>
    {% for resident_id, character_name in residents_info %}
    <tr>
      <td>"{{ resident_id }}"</td>
      <td>"{{ character_name }}"</td>
      <td>
        <a href="/profile/{{resident_id}}" class="btn btn-primary teste">Ver Perfil do personagem</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</ul>
{% endblock %}